{% extends 'base.html' %}
{% block title %}
    New Wallet
{% endblock %}

{% block content %}
<!-- #######  THIS IS A COMMENT - Visible only in the source editor #########-->
<h2>New Wallet</h2>
<p style="font-size: 1.5em;">For security purposes, we have isolated the possibility of creating a cryptographic wallet from the site.
    <br />
    All contracts on the site know how to interface with a meta-mask wallet.
    <br />
    Please <a title="meta-mask" href="https://metamask.io/" target="_blank" rel="noopener">click here</a> to create a new wallet.</p>
<p style="font-size: 1.5em; text-align: center;"><br /><strong>important!</strong></p>
<p style="font-size: 1.5em;">Do not share your verification passwords with anyone, keep them well in a place only you know and know.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p style="font-size: 1.5em;">Good luck, Bet You Smart team</p>
{% endblock %}
